html {
  background: #f0f0f0;
}

body {
  width: 520px;
  margin: 0 auto;
  padding: 0 0 1px;
  background: #fff;
  color: #222;
  font: 14px/1.6 "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

p {
  margin: 0 0 1em;
}

#links,
#meta {
  list-style-type: none;
  margin: 0;
  padding: 10px 20px;
  border-bottom: 1px solid #f0f0f0;
}

#links li,
#meta li {
  display: inline-block;
  margin: 0 0.3em 0 0;
}

#links > li:after,
#meta > li:after {
  content: "|";
  color: #cacaca;
  display: inline-block;
  margin: 0 0 0 0.33em;
}
#links li:last-child:after,
#meta li:last-child:after {
  content: "";
}

#meta {
  border-top: 1px solid #f0f0f0;
  border-bottom: none;
}

#meta li.version {
  position: relative;
}

#meta li.version em {
  font-style: normal;
  color: #919191;
}

#meta li.version ul {
  display: none;
  position: absolute;
  width: 120px;
  top: 1.6em;
  left: -9px;
  background: #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#meta li.version ul li {
  margin: 0;
  padding: 5px 12px;
  display: block;
  border-bottom: 1px solid #f0f0f0;
}

#meta li.version ul li a {
  display: block;
}

#meta li.version:hover ul {
  display: block;
}

#meta > p {
  margin-bottom: 0;
}

#message {
  margin: 0;
  padding: 10px 20px;
  background: #fffdde;
}

#message.error {
  background: #ffdfdb;
}

#message p {
  margin: 0;
}

#pages,
#search {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#pages li,
#search li {
  display: block;
  margin: 0 0 5px;
  font-size: 16px;
}

#filter {
  margin: 0 0 10px -1px;
}

.search form {
  display: inline;
  margin: 0;
  padding: 0;
}

.search button {
  display: none;
}

/* = Breadcrumbs */

.breadcrumbs {
  border-top: 1px solid #f0f0f0;
  margin: 0;
  padding: 10px 20px;
  list-style-type: none;
  font-size: 11px;
  line-height: 1.2;
}

.breadcrumbs li {
  margin: 0 2px 0 0;
  padding: 0;
  display: inline;
}

.breadcrumbs li:before {
  content: "> ";
  padding: 0 1px 0 0;
  color: #afafaf;
}

.breadcrumbs li:first-child:before {
  content: "";
  padding: 0;
}

/* =Form */

form label {
  display: block;
}

form input[type="text"] {
  width:60%;
}

form textarea {
  width: 99%;
  height: 30em;
  font: 12px/1.4 "Courier New", Courier, mono;
}

hr.delete {
  display: none;
}

#delete-form {
  margin: 2em -20px 0;
  background: #ffdfdb;
  padding: 10px 20px;
}

#delete-form p.button {
  margin: 0;
  color: #fe3e3e;
  font-size: 12px;
}

#delete-form p span {
  margin-left: 1em;
}

#delete-link {
  margin: 2em 0 0;
  padding-bottom: 1px;
}

#delete-link a {
  color: #fe3e3e;
}

#content {
  margin: 20px;
}

/* =Content */